@model IEnumerable<Funcionarios_Ambev.Models.Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Funcionarios</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.ID }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Deletar", "Deletar", new { id = item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Cadastrar Novo Funcionario Funcionario", "Cadastrar", "", new { @class = "btn btn-success", @style = "width:100%" })
</p>
<link href="~/Content/Site.css" rel="stylesheet" />
<div id="boxImagem">
    <img width="60%" height="100%" src="~/img/ambev.png" />
</div>